    <!-- 메인시작 -->
    <main>
        <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
        <div class="menubar">
            <div class="notice_menutitle introbg">
                <h2>참여마당</h2>
                <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
            </div>
            <div class="notice_menu">
                <ul>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">행사안내</a></li>
                    <li><a href="">현장스케치</a></li>
                    <li><a href="">언론보도</a></li>
                    <li><a href="">문의 및 제안</a></li>
                    <li><a href="">입점신청</a></li>
                </ul>
            </div>
        </div>
         <!-- 섹션2 야시장 공지사항 타이틀,게시판시작 -->
         <section class="notice_cont w1100">
            <div class="notice_con_title">
                <h1>공지사항</h1>
                <ul>
                    <li class="homepage"></li>
                    <li class="location">참여마당</li>
                    <li class="location">공지사항<li>
                </ul>
            </div>
            <!-- 리스트 시작 -->
            <div class="notice_board">
                <div class="notice_list">
                    <table>
                        <colgroup>
                            <col width="50"> 
                            <col width="300"> 
                            <col width="100"> 
                            <col width="70"> 
                            <col width="50"> 
                        </colgroup>
                        <thead>
                            <tr>
                                <td>번호</td>
                                <td>제목</td>
                                <td>글쓴이</td>
                                <td>등록일</td>
                                <td>조회</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% rows.forEach((row,index) =>{ %> 
                            <tr>
                                <td class="notice_info"><%= rows.length - index %></td>
                                <td class="notice_info info_title"><a href="/detailsnotice?id=<%= row.id %>"><%= row.noticeTitle %></a></td>
                                <td class="notice_info"><%= row.author %></td>
                                <td class="notice_info"><%= row.create_time %></td>
                                <td class="notice_info"><%= row.joinNum %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 버튼박스 -->
            <div class="not_box_wrap">
                <div class="not_li_box">
                    <a href="/noticeregis">등록</a>
                </div>
                <div class="not_li_box">
                    <a href="/notice">목록</a>
                </div>
            </div>
            <!-- 목록 번호박스 -->
            <div class="n_numbox_wrap">
                <ul>
                    <li><a href="">1</a></li>&nbsp;
                    <li><a href="">2</a></li>&nbsp;
                    <li><a href="">3</a></li>&nbsp;
                    <li><a href="">4</a></li>
                </ul>
            </div>
            <!-- 검색 박스 -->
            <div class="n_search_wrap">
                <form action="">
                    <ul>
                        <li id="tc_search_box">
                            <select name="" id="tc_searchli">
                                <option value="">제목</option>
                                <option value="">내용</option>
                            </select>
                        </li>
                        <li id="no_input_box">
                            <input type="text" id="noti_search_input">
                        </li>
                        <li id="no_search_box">
                            <button id="noti_search_btn" type="submit">
                                <!-- <img src="img/search_bt.gif" alt=""> -->
                            </button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
    </main>