<main class="seller_detail">
    <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
    <div class="menubar">
        <div class="subpage_menutitle introbg">
            <h2>야시장소개</h2>
            <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
        </div>
        <div class="m_subpage_list_tit">
            <p>매대상세정보</p>
        </div>
        <div class="subpage_list_menu">
            <ul>
                <li><a href="/introsub" class="subpage_list_txt">야시장안내</a></li>
                <li><a href="/locationsub" class="subpage_list_txt">매대위치</a></li>
                <li><a href="/direction"class="subpage_list_txt">오시는길</a></li>
            </ul>
        </div>
    </div>
    <!-- 섹션2 야시장  타이틀,게시판시작 -->
    <section class="subpage_cont w1100 sub_p60">
        <div class="subpage_con_title">
            <h1>매대상세정보</h1>
            <ul>
                <li class="homepage"></li>
                <li class="location">야시장 소개</li>
                <li class="location">매대위치</li>
                <li class="location">매대상세정보</li>
            </ul>
        </div>
        <!-- 매대상세정보 컨텐츠 시작 -->
        <div class="seller_con">
            <!-- 왼쪽갤러리 -->
            <div class="sell_gallery">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper seller_gallery2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sell_img img1" style="background-image: url(<%=row.storeimg%>)"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sell_img img2"style="background-image: url(<%=row.storeimg2%>)"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sell_img img3"style="background-image: url(<%=row.storeimg3%>)"></div>
                        </div>
                    </div>
                    <div class="sell_btn_wrap">
                        <div class="sell_pre_btn"><img src="img/btn_mphoto_prev.gif" alt=""></div>
                        <div class="sell_next_btn"><img src="img/btn_mphoto_next.gif" alt=""></div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper seller_gallery">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sell_img img1" style="background-image: url(<%=row.storeimg%>)"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sell_img img2"style="background-image: url(<%=row.storeimg2%>)"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sell_img img3" style="background-image: url(<%=row.storeimg3%>)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 내용 -->
            <div class="sell_txt">
                <div class="store_name">
                    <h2><%=row.storename%></h2>
                </div>
                <div class="line"></div>
                <div class="store_food">
                    <p><%=row.storeintro%></p>
                </div>
                <ul class="sell_txt_body">
                    <li>
                        <h3>메뉴</h3>
                        <p><%=row.menu%></p>
                    </li>
                    <li>
                        <h3>가격</h3>
                        <p><%=row.menuprice%></p>
                    </li>
                    <li>
                        <h3>추천메뉴</h3>
                        <p><%=row.recomenu%></p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 수정버튼 -->
        <div class="regis_btn_wrap">
            <a href="/sellerretouch?id=<%=row.id%>">수정</a>
            <a href="/deleteseller?id=<%=row.id%>">삭제</a>
        </div>
    </section>
      <!-- Swiper JS -->
      <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".seller_gallery", {
          loop: false,
          spaceBetween: 20,
          slidesPerView: 3,
          freeMode: true,
          watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".seller_gallery2", {
          loop: true,
          spaceBetween: 10,
          navigation: {
            nextEl: ".sell_next_btn",
            prevEl: ".sell_pre_btn",
          },
          thumbs: {
            swiper: swiper,
          },
        });
      </script>
</main>